<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/error.css">
    <link rel="stylesheet" href="../static/home.css">
    <title>404</title>
</head>

    <!--Joint collaboration between Aaron Nguyen and Corbin Crawford-->
    <!--https://www.linkedin.com/in/aaronpnguyen/-->
    <!--https://www.linkedin.com/in/corbin-crawford/-->

<body id="body">
    <div class="bodyContainer">
        <div class="flaskError {%if error == 404%} pnf {%endif%}">
            {%if error == 404%}
                <h1 class="errorTitle">Page Does Not Exist</h1>
            {%else%}
                <h1 class="errorTitle">API ERROR</h1>
                <h3 class="apiError">We apologize, but due to Spotify's API restrictions we are unable to access your Spotify account. Please notify the developers if you would like to have full-access to this project.</h3>
                <h3>Developers:</h3>
                <div class="contactRow">
                    <a class="button hvr-grow" href="https://www.linkedin.com/in/aaronpnguyen/">Aaron Nguyen</a>
                    <a class="button hvr-grow" href="https://www.linkedin.com/in/corbin-crawford/">Corbin Crawford</a>
                </div>
            {%endif%}
            <a class="button hvr-grow" href="/home">Home Page</a>
        </div>
    </div>
</body>
</html>