<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/login.css">
    <link rel="stylesheet" href="../static/error.css">
    <title>Login</title>
</head>
<body>
    <form action="/login" method="POST">
        <div class="loginTitle">
            <h1>Sign In</h1>
        </div>
        {%with messages = get_flashed_messages(with_categories = True)%}
            {%if messages %}
                <div class="error-container">
                    <div class="error-box">
                        <p class="error-alert">Error!</p>
                        <div class="errorContainer">
                            {%for category, message in messages%}
                                <p class="errorMessage">{{message}}</p>
                            {%endfor%}
                        </div>
                    </div>
                </div>
            {%endif%}
        {%endwith%}
        <div class="loginForm">
            <input class="credentials" type="text" spellcheck="false" name="user_name" placeholder="USERNAME">
        </div>
        <div class="loginForm">
            <input class="credentials" type="password" name="password" placeholder="PASSWORD">
        </div>
        
        <button type="submit" class="login">
            <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48">
                <path fill="none" d="M0 0h48v48h-48z"/>
                <path d="M24 8l-2.83 2.83 11.17 11.17h-24.34v4h24.34l-11.17 11.17 2.83 2.83 16-16z"/>
            </svg>
        </button>

        <div class="redirect">
            <a href="#">CAN'T SIGN IN?</a>
        </div>
        <div class="redirect">
            <a href="/register/user">CREATE ACCOUNT</a>
        </div>
    </form>
</body>
</html>