<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/4229a7500a.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/home.css">
    <link rel="stylesheet" href="../static/profile.css">
        <link rel="stylesheet" href="../static/stats.css">
    <title>User Profile</title>
</head>
<body id="body">
    <div class="navContainer">
        <div class="navBar">
            <div class="leftNav">
                <h2 class="logo"><a href="/home"><span>Red</span>ify</a></h2>

                <!-- Light and Dark mode button here -->
                <div class="lightDarkBtn" onclick="lightDark()" id="lightDarkIconBtn">
                    <i class="fa-solid fa-moon" id="lightDarkIconMoon"></i>
                    <i class="fa-solid fa-sun hidden" id="lightDarkIconSun"></i>
                </div>
            </div>
            <div class="searchBar">
                <label class="svgSearch" for="Search">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 96 96">
                        <switch>
                            <path d="M90.829 85.172L68.128 62.471A35.846 35.846 0 0 0 76 40C76 20.118 59.883 4 40 4 20.118 4 4 20.118 4 40s16.118 36 36 36c8.5 0 16.312-2.946 22.471-7.873l22.701 22.701A3.988 3.988 0 0 0 88 92a4 4 0 0 0 2.829-6.828zM40 68c-15.464 0-28-12.536-28-28s12.536-28 28-28c15.465 0 28 12.536 28 28S55.465 68 40 68z"/>
                        </switch>
                    </svg>
                </label>
                <input class="searchInput" type="text" placeholder="Search Redify">
            </div>
            {%if session['user_id']%}
            <button class="rightNav" onmouseover="navDropdown()" onmouseout="navDropdownRehide()" id="navDropdownBtn">
                <div class="rightNavDropdown">                    
                    <svg id="downArrow" class="rightNavDropdownArrow" xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 512 512">
                        <path d="M98.9 184.7l1.8 2.1 136 156.5c4.6 5.3 11.5 8.6 19.2 8.6 7.7 0 14.6-3.4 19.2-8.6L411 187.1l2.3-2.6c1.7-2.5 2.7-5.5 2.7-8.7 0-8.7-7.4-15.8-16.6-15.8H112.6c-9.2 0-16.6 7.1-16.6 15.8 0 3.3 1.1 6.4 2.9 8.9z"/>
                    </svg>
                </div>
            </button>
            {%else%}
                <a href="/login/user" class="homeLoginBtn" ><p>Login</p></a>
            {%endif%}
        </div>
    </div>

    <!-- Right Dropdown Nav -->
    <div class="navDropdownContainer hidden" id="navDropdown" onmouseover="navDropdown()" onmouseout="navDropdownRehide()">
        <a href="/logout">
            <div class="navDropdownCard">
                <p class="navDropdownLink">Logout</p>
            </div>
        </a>
        <a href="/profile/{{user.user_name}}">
            <div class="navDropdownCard">
                <p class="navDropdownLink">Profile</p>
            </div>
        </a>
        <a href="/stats/short_term">
            <div class="navDropdownCard">
                <p class="navDropdownLink">Stats</p>
            </div>
        </a>
        <a href="/settings/{{user.user_name}}">
            <div class="navDropdownCard">
                <p class="navDropdownLink">Settings</p>
            </div>
        </a>
    </div>

    <div class="bodyContainer">
        <div class="profileBodyLeft">
            <!-- User Card -->
            <div class="userCard">
                <div class="userCardTop">
                    <!-- <p>Currently Viewing: {{user.user_name}}</p> -->
                    <p class="userCardTitle">{{user.user_name}}</p>
                    <p class="userCardMemberSince">Member Since: {{user.created_at}}</p>
                </div>

                <!-- Not sure what color he wants on these  -->
                <div class="userCardInfo">
                    <p class="userCardInfoText">Topics Created: {{created_topics | length}}</p>
                    <p class="userCardInfoText">Topics Followed: {{topics | length}}</p>
                    <p class="userCardInfoText">Posts: {{posts | length}}</p>
                </div>
            </div>

            <div class="postContainer">
                {%for post in posts%}
                    <div class="post messageContent">

                        <div class="postTopInfo">
                            <a href="/t/{{post.topic.title}}" class="postTopTopic">t/{{post.topic.title}}</a>
                            <span class="postTopSpan">&nbsp;posted on&nbsp; {{post.user.created_at}}</span>
                            <!-- <a href="profile/{{post.user.user_name}}" class="postTopAuthor">p/{{post.user.user_name}}</a> -->
                        </div>


                        <h3 class="postAudioTitle">{{post.title}}</h3>
                        <h3 class="postAudioDescription">{{post.message}}</h3>

                        {%if post.type and post.link%}
                            <iframe style="border-radius:12px"
                                src="https://open.spotify.com/embed/{{post.type}}/{{post.link}}?utm_source=generator"
                                width="100%" height="{{100 if post.type == 'track' else 400}}" frameBorder="0" allowfullscreen=""
                                allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" 
                                loading="lazy">
                            </iframe>
                        {%endif%}
                    </div>
                {%endfor%}
            </div>

        </div>


        <div class="profileBodyRight">
            <div class="userStats">

                <!-- Stats Tabs -->
                <div class="userStatsTabContainer">
                    <div class="userStatsTab leftRad activeTab" id="artistsTab" onclick="showArtistsTab()">
                        <span class="userStatsTabText">Artist</span>
                    </div>
                    <div class="userStatsTab rightRad" id="tracksTab" onclick="showTracksTab()">
                        <span class="userStatsTabText">Tracks</span>
                    </div>
                </div>

                <div class="topArtists" id="favoriteArtists">
                    {%for artist in artists%}
                        <div class="artistCard">
                            <img width="100" src="{{artist.artist_image}}">

                            <div class="artistCardInfo">
                                <p class="artistCardName">{{artist.artist_name}}</p>
                                <p class="artistCardInfo">Followers: {{"{:,}".format(artist.followers | int)}}</p>
                                <p class="artistCardInfo">Genre: {{artist.genre}}</p>
                            </div>
                        </div>
                    {%endfor%}

                </div>

                <div class="topTracks hidden" id="favoriteTracks">
                    {%for track in tracks%}
                        <div class="artistCard">    
                            <iframe style="border-radius:0px"
                                src="https://open.spotify.com/embed/track/{{track.track_id}}?utm_source=generator&theme=0"
                                width="100%" height="{{100}}" frameBorder="0" allowfullscreen=""
                                allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" 
                                loading="lazy">
                            </iframe>
                        </div>
                    {%endfor%}

                </div>

                <!-- Conditional rendering for user to save/update their stats -->
                <div>
                    {%if user.id == session['user_id']%}
                    <form class="favoritesBtnContainer" action="/save/spotify_stats" method="POST">
                        {%if artists%}
                            <button class="favoritesBtn hvr-grow" type="submit">Update</button>
                        {%else%}
                            <p>Get your top 5 stats.</p>
                            <button class="favoritesBtn hvr-grow" type="submit">Save</button>
                        {%endif%}
                        </form>
                    {%endif%}
                </div>

            </div>
        </div>
    </div>


<script src="../static/main.js"></script>
</body>
</html>