<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/4229a7500a.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/home.css">
    <link rel="stylesheet" href="../static/profile.css">
        <link rel="stylesheet" href="../static/settings.css">
    <title>User Profile</title>
</head>
<body id="body">
    <div id="accountOverview"></div>

    <div class="navContainer">
        <div class="navBar">
            <div class="leftNav">
                <h2 class="logo"><a href="/home"><span>Red</span>ify</a></h2>

                <!-- Light and Dark mode button here -->
                <div class="lightDarkBtn" onclick="lightDark()" id="lightDarkIconBtn">
                    <div class="lightBtnCase" id="lightBtnCase">
                        <i class="fa-solid fa-moon" id="lightDarkIconMoon"></i>
                    </div>
                    <div class="darkBtnCase" id="darkBtnCase">
                        <i class="fa-solid fa-sun" id="lightDarkIconSun"></i>
                    </div>
                </div>
            </div>
            <div class="searchBar">
                <label class="svgSearch" for="Search">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 96 96">
                        <switch>
                            <path d="M90.829 85.172L68.128 62.471A35.846 35.846 0 0 0 76 40C76 20.118 59.883 4 40 4 20.118 4 4 20.118 4 40s16.118 36 36 36c8.5 0 16.312-2.946 22.471-7.873l22.701 22.701A3.988 3.988 0 0 0 88 92a4 4 0 0 0 2.829-6.828zM40 68c-15.464 0-28-12.536-28-28s12.536-28 28-28c15.465 0 28 12.536 28 28S55.465 68 40 68z"/>
                        </switch>
                    </svg>
                </label>
                <input class="searchInput" type="text" placeholder="Search Redify">
            </div>
            <button class="rightNav" onmouseover="navDropdown()" onmouseout="navDropdownRehide()" id="navDropdownBtn">
                {%if session['user_id']%}
                    <p class="userName">{{user.user_name}}</p>
                    <div class="rightNavDropdown">                    
                        <svg id="downArrow" class="rightNavDropdownArrow" xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 512 512">
                            <path d="M98.9 184.7l1.8 2.1 136 156.5c4.6 5.3 11.5 8.6 19.2 8.6 7.7 0 14.6-3.4 19.2-8.6L411 187.1l2.3-2.6c1.7-2.5 2.7-5.5 2.7-8.7 0-8.7-7.4-15.8-16.6-15.8H112.6c-9.2 0-16.6 7.1-16.6 15.8 0 3.3 1.1 6.4 2.9 8.9z"/>
                        </svg>
                    </div>
                {%else%}
                    <a href="/login/user" class="homeLoginBtn" ><p>Login</p></a>
                {%endif%}
            </button>
        </div>
    </div>

    <!-- Right Dropdown Nav -->
    <div class="navDropdownContainer hidden" id="navDropdown" onmouseover="navDropdown()" onmouseout="navDropdownRehide()">
        <a href="/logout">
            <div class="navDropdownCard">
                <p class="navDropdownLink">Logout</p>
            </div>
        </a>
        <a href="/profile/{{user.user_name}}">
            <div class="navDropdownCard">
                <p class="navDropdownLink">Profile</p>
            </div>
        </a>
        <a href="/stats/short_term">
            <div class="navDropdownCard">
                <p class="navDropdownLink">Stats</p>
            </div>
        </a>
        <a href="/settings/{{user.user_name}}">
            <div class="navDropdownCard">
                <p class="navDropdownLink">Settings</p>
            </div>
        </a>
    </div>


    <div class="bodyContainer settingsContainer">

        <div class="fixedLeftBody">
            <div class="fixedLeftLinkContainer">
                <h1 class="settingsTitle">Account Settings</h1>
                <!-- <p class=""><a href="#">Account Ownership</a></p> -->
                <p class=""><a href="#accountOverview">Account Overview</a></p>
                <p class=""><a href="#redifyEmail">Redify Email</a></p>
                <p class=""><a href="#managePassword">Manage Password</a></p>
                <p class=""><a href="#spotifyAccount">Spotify Account</a></p>
            </div>

        </div>


        <div class="rightBody">        
            {%with messages = get_flashed_messages()%}
                {%if messages %}
                    {%for message in messages%}
                        <h3 style="color:red;">{{message}}</h3>
                    {%endfor%}
                {%endif%}
            {%endwith%}


            <div class="settingsCard">
                <div class="settingsCardDescription">
                    <p class="settingsCardDescriptionTitle">Account Overview</p>
                    <p class="settingsCardDescriptionText">Your username is unchangable, as this is how others will recognize you.</p>
                    <br>
                    <p class="settingsCardDescriptionText"><strong>Remember:</strong> Redify will never ask for your email/password.</p>
                </div>
                <div class="settingsCardActions">
                    <!--Username should not be updated-->
                    <h1>Username: {{user.user_name}}</h1>
                    <div class="settingsCardInnerContainer">
                        <!-- <p class="settingsCardListP">First Name:</p> 
                        <p class="settingsCardListP">Last Name:</p> -->
                    </div>
                    <p class="settingsCardListP">Created On: {{user.created_at}}</p>
                </div>
            </div>
            
            
            <div id="redifyEmail"></div>
            <!-- Change Email -->
            <div class="settingsCard">
                <div class="settingsCardDescription">
                    <p class="settingsCardDescriptionTitle">Redify Email</p>
                    <p class="settingsCardDescriptionText">This is the email Redify will contact you at. Make sure your new email is one that you are able to access.</p>
                </div>
                <div class="settingsCardActions">
                    <h1>Change Email</h1>
                    <form action="/update/email/{{user.id}}" method="POST">
                        <div class="updateSetting">
                            <input type="email" name="email" value="{{user.email}}">
                        </div>
                        <button type="submit" class="createFormSubmit hvr-grow-rotate">Save Changes</button>
                    </form>
                </div>
            </div>
            
            <div id="managePassword"></div>
            <!-- Change Password -->
            <div class="settingsCard">
                <div class="settingsCardDescription">
                    <p class="settingsCardDescriptionTitle">Manage Password</p>
                    <p class="settingsCardDescriptionText">Change your current password.</p>
                </div>
                <div class="settingsCardActions">
                    <h1>Change Password</h1>
                    <form action="/update/password/{{user.id}}" method="POST">
                        <div class="updateSetting">
                            <input type="password" name="old_password" placeholder="Current Password">
                        </div>
                        <div class="updateSetting">
                            <input type="password" name="new_password" placeholder="New Password">
                        </div>
                        <div class="updateSetting">
                            <input type="password" name="confirm_new" placeholder="Confirm New Password">
                        </div>
                        <button type="submit" class="createFormSubmit hvr-grow-rotate">Save Changes</button>
                    </form>
                </div>
            </div>

            <div id="spotifyAccount"></div>
            <div class="settingsCard">
                <div class="settingsCardDescription">
                    <p class="settingsCardDescriptionTitle">Spotify</p>
                    <p class="settingsCardDescriptionText">By signing out of Spotify, you must sign back in for Redify to access your stats.</p>
                </div>
                <div class="settingsCardActions">
                    <h1>Spotify Account</h1>
                    <form action="/spotify/logout" method="POST">
                        <button type="submit" class="createFormSubmit hvr-grow-rotate">Logout</button>
                    </form>
                </div>
            </div>
        </div>

    <script src="../static/main.js"></script>

</body>
</html>