<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/profile.css">
    <title>Profile Page</title>
</head>
<body>
    <h1>Working on the profile</h1>
    
    {%for track in tracks%}
        <div>
            <iframe style="border-radius:12px"
                src="https://open.spotify.com/embed/track/{{track.songId}}?utm_source=generator&theme=0"
                width="800px" height="100px"
                frameBorder="0"
                allowfullscreen=""
                allow="autoplay;clipboard-write; encrypted-media; fullscreen; picture-in-picture"
                loading="lazy">
            </iframe>
        </div>
    {%endfor%}

    {%for artist in artists%}
        <div class="artistCard">
            <img src="{{artist.artistImage}}">
            <h3>{{artist.artistName}}</h3>
        </div>
    {%endfor%}

</body>
</html>
