* {
    font-family: 'FF Mark W05', sans-serif;
}

:root {
    --light-red: rgba(235, 130, 130, 1);
    --dark-red:  rgba(203, 106, 106, 1);
    --dark-charc: rgb(15,15,15);
    --charc: rgb(50,50,50);
    --light-charc:  rgb(100,100,100);
    --light-gray: rgba(180,180,180,1);
    --soft-white: rgb(247, 247, 247);
    --light-green: rgb(210,255,195);
    --green: #1db352;
    --purple: #7D38A6;
    --light-btn:  #FBD38D;
}

body {
    padding: 100px;
    background-color: #202124;
}

form {
    background-color: white;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    height: 700px;
    width: 500px;
    border-radius: 10px;
}

.credentials {
    height: 25px;
    width: 300px;
    padding: 20px;
    background-color: #ececec;
    border: None;
    border-radius: 10px;
}

.credentials::-webkit-input-placeholder {
    color: #3f3f3f;
    font-weight: bold;
}

input[type="text"], input[type="password"] {
    font-family: 'FF Mark W05', sans-serif;
    color: black;
    font-weight: bold;
    font-size: larger;
}

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75px;
    height: 75px;
    background-color: #fff;
    border: 2px solid black;
    border-radius: 10px;
    opacity: 0.1;
}

.login:hover {
    color: white;
    background-color: #e24cad;
    border: 2px solid #e24cad;
    opacity: 1;
    filter: invert(100%);
    cursor: pointer;
}

.login {
    display: flex;
}

a {
    text-decoration: None;
    font-family: 'FF Mark W05', sans-serif;
    font-weight: bold;
    color: #3f3f3f
}

/*

    Styling done by Corbin Crawford (minor edits by Aaron Nguyen)
    https://www.linkedin.com/in/aaronpnguyen/
    https://www.linkedin.com/in/corbin-crawford/
    
*/