/* Body Left */
.profileBodyLeft {
    min-width: 60%;
    max-width: 60%;
    margin-top: 50px;
}

/* User Card */
.userCard {
    background-color: rgb(247, 247, 247);
    border-radius:20px;
    border:  1px solid rgb(240,240,240);
    width: 100%;
    padding: 2% 4%;
    margin-bottom: 25px;
    box-shadow: 0 0 9px 3px rgba(0, 0, 0, 0.2);
}

.userCardTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.userCardTitle {
    font-size: 2.2rem;
    font-weight: 500;
}

.userCardMemberSince {
    color: var(--light-charc);
}

.userCardInfo {
    display: flex;
    justify-content: space-between;
    min-width: 100%;
    margin-top: 50px;
}

.userCardInfoText {
    background-color: rgba(240, 240, 240, 0.5);
    /*background-color: var(--light-red);*/
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1);
    padding: 1% 2.5%;
    border-radius: 15px;
}



/* Body Right */
.profileBodyRight {
    min-width:36%;
    max-width: 36%;
    margin-top: 50px;
    /*background-color: tan;*/
}

.userStats {
    border-radius: 15px;
    background-color: var(--soft-white);
    border: 3px solid var(--light-charc);
    min-height: 200px;
    position: sticky;
    box-shadow: 0 0 9px 3px rgb(0 0 0 / 20%);
}

.userStatsTabContainer {
    display: flex;
    justify-content: space-between;
}

.userStatsTab {
    min-width: 50%;
    max-width: 50%;
    text-align: center;
    /*border-bottom: 3px solid var(--light-charc);*/
    padding: 4%;
}

.userStatsTab:hover {
    cursor: pointer;
}

.userStatsTabText {
    color: black;
}

.leftRad {
    border-radius: 10px 0 0 0 ;
}

.rightRad {
    border-radius: 0 10px 0 0 ;
}

.activeTab {
    background-color: var(--light-charc);
}

/*.activeTab > * {
    color: var(--soft-white);
}
*/
/* I don't think this is in use or needed */

/** {
    margin: 0px;
    padding: 0px;
    font-family: Circular,Helvetica,Arial,sans-serif;
    background-color: #202124;
}*/

.artistCard {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*border-bottom: 2px solid var(--light-charc);*/
    padding-top: 10px;
}

.artistCard > iframe {
    margin: 0 auto;
    align-items: center;
    padding-top: 10px;
}

.artistCard:nth-child(odd) {
    background-color: rgba(220, 220, 220, 0.4);
}
 
.artistCard img {
    border-radius: 50%;
    object-fit: cover;
    width: 80px;
    height: 80px;
    margin: 10px;
}

.artistCardInfo {
    min-width: 70%;
}

.artistCard > iframe {
    background-color: transparent;
}

.favoritesBtnContainer {
    width: 100%;
    display: flex;
    justify-content: center;
}

.favoritesBtn {
    padding: 2% 6%;
    margin: 4% 0;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    background-color: var(--charc);
    color: var(--soft-white);
    font-size: 1.2rem;
}

.favoritesBtn:hover {
    background-color: #1db352;
}

.columnStats {
    display: flex;
    flex-direction: column;
    margin-top: 5%;
}

.no-posts > a {
    color: rgb(40, 100, 250);
}

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/*

    Styling done by Corbin Crawford (minor edits by Aaron Nguyen)
    https://www.linkedin.com/in/aaronpnguyen/
    https://www.linkedin.com/in/corbin-crawford/
    
*/